#s-40aff3bb-b182-482c-ad7b-257996d393bb > #backgroundBox {
  position: absolute;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 667.0px;
  width: 100%;
  height: 100%;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Image_1 {
  position: absolute;
  width: 375.0px;
  height: 667.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Image_1 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Rectangle_1 {
  position: absolute;
  width: 375.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Rectangle_1 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'IOS9-Icons-Regular',Arial;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_1 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS9-Icons-Regular',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'IOS9-Icons-Regular',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'IOS9-Icons-Regular',Arial;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_2 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'IOS9-Icons-Regular',Arial;
  font-size: 11.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'IOS9-Icons-Regular',Arial;
  font-size: 11.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_3 {
  position: absolute;
  width: 78.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_3 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Ellipse_1 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Ellipse_1 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Ellipse_2 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Ellipse_2 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_3 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Ellipse_3 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Ellipse_3 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_4 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Ellipse_4 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Ellipse_4 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_5 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_5 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Ellipse_5 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Ellipse_5 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_4 {
  position: absolute;
  width: 50.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_4 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Image_2 {
  position: absolute;
  width: 25.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Image_2 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_5 {
  position: absolute;
  width: 327.0px;
  min-height: 89.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_5 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 22.0pt;
  line-height: 32px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 22.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Button_1 {
  position: absolute;
  width: 300.0px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Button_1 {
  box-shadow: none;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Button_1 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 22px 22px 22px 22px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Button_1 > .backgroundLayer {
  border-radius: 22px 22px 22px 22px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Button_1 .paddingLayer:first-child {
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 9px;
  padding-left: 11px;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 12.0pt;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Image_3 {
  position: absolute;
  width: 80.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-40aff3bb-b182-482c-ad7b-257996d393bb #s-Image_3 {
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-40aff3bb-b182-482c-ad7b-257996d393bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}