{% extends "base.html" %}

{% block content %}

<article class="athelas">
    <div class="vh-100 dt w-100 tc bg-dark-gray white cover" style="background:url(static/rideshare/pictures/tdiddy.jpg) no-repeat center;">
      <div class="dtc v-mid">
        
        <h1 class="f1 f-headline-l fw1 i black-60">Thank you for choosing COMMURIDE!</h1>
        
      </div>
    </div>


<section class="hero is-success is bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Your Ride is Booked!
        </h1>
        <h2 class="subtitle">
          Your driver is currently on their way and will contact you when they are near.
        </h2>
      </div>
    </div>
  </section>
  



{% endblock %}