{% extends "base.html" %}

{% block content %}

<main class="sans-serif">
  <div class="cover bg-left bg-center-l" style="background-image: url(static/rideshare/pictures/tdiddy.jpg)">
    <div class="bg-black-80 pb5 pb6-m pb7-l">
      <nav class="dt w-100 mw8 center"> 
        <div class="dtc w2 v-mid pa3">
        </div>
        
      </nav> 
      <div class="tc-l mt7 mt5-m mt6-l ph3 pageinfo v-mid">
        <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">Welcome to Commuride</h1>
        <h2 class="fw1 f3 white-80 mt3 mb4">The Rideshare App for the community </h2>
        <a href="{% url 'add_rideshare' %}"><button class="button is-ghost">Schedule Now</button></a>
        
       
      </div>
    </div>
  </div> 
  
  
</main>

{% endblock %}
